<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <form method="post" action="/auth/register">
        <label for="email">Email</label>
        <input type="email" name="email" id="">
        <label for="email">Password</label>
        <input type="password" name="password" id="">
        <label for="email">Confirm Password</label>
        <input type="password" name="confirmPassword" id="">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>